<DOCTYPE html>
	<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- Custom CSS -->
		<link rel="stylesheet" href="assets/css/style.css">
		<!--Custom Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">

		<title> IsItABanger?</title>
	</head>


	<body>
		<div class="container">
			<div class="row text-center">
					<img src="../public/images/banger.jpg" class="img-repsonsive" style="padding-top:10%;max-height:30vh">

			</div>
		</div>
		<div class="container-fluid">
			<div class="row text-center">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="header">
						<h1>Is It A Banger?</h1>
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row text-center">
				<div class="col-lg-4"></div>
				<div class="entrybox">
					<input type="text" class="form-control" id="search">
					<button type="button" class="btn" id="searchBtn">Search</button>
				</div>
				<div class="col-lg-4"></div>
			</div>
		</div>

		<div class="container">
			<div class="row text-center">
				<div class="col-lg-12" id="resultCol">
					<h1 id="resultParagraph"></h1>
				</div>
			</div>
		</div>
	</body>

	<script>
		$(document).ready(function(){
			$(document).keypress(function(e){
				if(e.which ==13)
				{
					if(!($('#searchText').val() === "")){
						var searchText = $('#search').val();
						console.log(searchText);
						$.ajax({
							url: '/googletrends/' + searchText,
							type: "GET",
							success: function(results) {
								search(results);
							}
						});
					}
					else
					{
						$("#resultParagraph").text("Enter Something");
					}
				}
			});
		});
		
		$(document).ready(function(){
			$('#searchBtn').on('click', function(){
				var searchText = $('#search').val();
				console.log(searchText);
				$.ajax({
					url: '/googletrends/' + searchText,
					type: "GET",
					success: function(results) {
						search(results);
					}
				});
			});
		});

		var search = function(results)
		{	
			var sum = 0;
			var mean = 0;
			var maxZScore=0;
			var zScoreArray = new Array();
			var standardDeviation= 0;
			var jsonResult = new Object();
			var debug = 0;
			jsonResult = JSON.parse(results);
			zScoreArray.length = jsonResult.default.timelineData.length;
			//Sum all googletrends search values
			for(var val of jsonResult.default.timelineData)
			{
				sum += val.value[0];
			}
			//compute mean of googletrends search values
			mean = sum/jsonResult.default.timelineData.length;
			//compute population mean of values
			var runningSum = 0;
			for(var val of jsonResult.default.timelineData)
			{
				runningSum += Math.pow((val.value[0]- mean),2);
			}
			//compute standard deviation
			standardDeviation = Math.sqrt((runningSum/jsonResult.default.timelineData.length));
			var i = 0;
			//Compute zScore of every googletrend value. Zscore tells you how many standard deviations the value is from the mean
			for (var val of jsonResult.default.timelineData)
			{
				zScoreArray[i] = (val.value[0]- mean)/standardDeviation;
				i++;
			}
			maxZScore = Math.abs(Math.max.apply(Math,zScoreArray));
			if(debug)
			{
				console.log(jsonResult);
				console.log(zScoreArray);
				console.log("max zScore: " + maxZScore);
				$("#resultParagraph").text(results);
			}
			var resultText = "Nan";
			if(0.0 <= maxZScore && maxZScore <= 2.0)
			{
				console.log(maxZScore);
				resultText = "Here to Stay";
			}
			else if(2.0 < maxZScore && maxZScore <= 4.0)
			{
				resultText= "Not a Fad";
			}
			else if(4.0 < maxZScore && maxZScore <= 6.0)
			{
				resultText = "Pretty Trendy, Probably a Fad";
			}
			else if(6.0 < maxZScore && maxZScore <= 8.0)
			{
				resultText = "Definitely a Fad";
			}
			else if ( 8.0 < maxZScore && maxZScore <= 13.00)
			{
				resultText = "Gangnam Style Level Fad";
			}
			else
			{
				resultText = "So Hip We Don't Even Know What That Is";
			}
			console.log(maxZScore);
			$("#resultParagraph").text(resultText);
		}
	</script>

	</html>

